################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LINQExercises/.vs/LINQExercises/FileContentIndex/0196358b-a089-46d8-aacc-57077efd0fad.vsidx
/LINQExercises/.vs/LINQExercises/FileContentIndex/ad65e420-650a-4f50-bc4b-cd2a8d7d1751.vsidx
/LINQExercises/.vs/LINQExercises/FileContentIndex/d294599a-48f1-4d3a-b6ec-65e5bd8e11a0.vsidx
/LINQExercises/.vs/LINQExercises/FileContentIndex/e414a8a6-fb0e-48f7-915b-7ad50e825b3f.vsidx
/.vs/Practica-LINQ-CI/FileContentIndex/395a1eac-170a-4353-9722-d47351a35263.vsidx
/.vs/Practica-LINQ-CI/FileContentIndex/7aa8a001-5c25-48b2-9944-eebf9f29aac3.vsidx
/.vs/Practica-LINQ-CI/FileContentIndex/817372ce-c91f-45cb-a58a-244140c7b776.vsidx
/.vs/Practica-LINQ-CI/FileContentIndex/9a83fd82-d698-4964-931e-cb2d63bc257b.vsidx
/.vs/Practica-LINQ-CI/FileContentIndex/b5c67c88-5e6a-4219-a801-ec42ebe19e2a.vsidx
